body {
    font-family: 'open sans', helvetica, arial, sans, sans-serif;
}
a{
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.5%;
    border: none;
    font-weight: 600;
    color: #fff;
    background-color: grey;
    text-align: center;
}
#index-a{
    display: block;
    margin: 20% 40% 10% 40%;
    padding: 1%;
}
a:hover {
    color: hotpink;
}